<%= form_for([@feed.user, @feed]) do |f| %>
  <% if @feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
      <% @feed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

  <div class="field">
    <%= f.label :inserta_direccion_rss %><br />
    <%= f.text_field :rssurl, required: true, disabled: (params[:action] == 'edit') %>
  </div>
<div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="field">
  <%= f.label :tag_list, "Etiquetas (separatas por commas)" %><br />
  <%= f.text_field :tag_list, required: true %>
</div>
  
<div class="form-actions">
    <%#= f.submit 'Insertar Nueva Noticias', class: "btn btn-info btn-rounded"%>
    <%= f.submit @feed.new_record? ? 'Insertar Nuevo Feed' : 'Actualiza Feed', class: "btn btn-info btn-rounded"%>
  </div>
<% end %>
