<div class="container">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
    <main id="content" class="content" role="main">
      <ol class="breadcrumb">
            <li><%= I18n.t("feed.you_are_here") %></li>
            <li class="active"> <%= I18n.t("feed.rss_feeds") %><%= @user.username %> </li>
        </ol>
        <div class="row">
              <div class="col-lg-12">
                  <table class="table table-hover">
                    <tr>
                      <th><%= I18n.t("feed.feed_title") %></th>
                      <th><%= I18n.t("feed.tags") %></th>
                      <th><%= I18n.t("feed.news") %></th>
                      <th><%= I18n.t("feed.updated") %></th>
                      <th></th>
                      <th></th>
                    </tr>

                  <% @feeds.order('updated_at DESC').each do |feed| %>
                    <tr>
                      <td> <%= link_to feed.title, user_feed_path(current_user, feed) %> </td>
                      <td> 
                        <% feed.tags.each do |tag| %>
                          <%= link_to tag.name, tagged_feed_url(:tag => tag.name) %>
                        <% end %>             
                      </td>
                      <td> <%= feed.feedlists.count %> </td>
                      <td> <%= time_ago_in_words(feed.updated_at) %></td>
                      <td> <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_user_feed_path(current_user, feed), title: "#{I18n.t("feed.edit")}" %> </td>
                      <% if  @user == current_user %>
                      <td> <%= link_to '<i class="fa fa-trash-o fa-fw"></i>'.html_safe, user_feed_path(current_user, feed), method: :delete, data: { confirm: "#{I18n.t("feed.delete_message")}" }, title: "#{I18n.t("feed.delete")}" %> </td>
                      <% else %>

                          <% unless feed.user.nil? %>

                              <td> Tambien tu tienes este Feed </td>
                          
                          <% else %>

                          <td> <%= link_to '<i class="fa fa-plus"></i> Agrega'.html_safe, new_user_feed_path(current_user, :rssurl => feed.rssurl) %> </td>
                      

                          <% end %>

                      <% end %>

                    </tr>
                  <% end %>
                  </table>
              </div>
        </div>
        <div class="row">
           <div class="col-lg-12 text-center">
            <%= paginate @feeds %> 
           </div>
        </div>
<br />
</main>
</div>
