<div class="container">
    <div class="row">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
    <ol class="breadcrumb hidden-sm hidden-xs">
        <li><%= I18n.t("feed.you_are_here") %></li>
        <li class="active">  <%= I18n.t("feed.show_news_of_follow_feed") %>: <%= @feed.rssurl %> </li>
        <li> <%= link_to I18n.t("feed.update"), {:controller => 'feeds', :action => 'actualiza', :id => @feed.id} %></li>
        <li> <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_user_feed_path(@feed) %> </li>
        <li><%= link_to '<i class="fa fa-trash-o fa-fw"></i>'.html_safe, @page, method: :delete, data: { confirm: "#{I18n.t('feed.delete_message')}" } %> </li>
    </ol>
    <ol class="breadcrumb visible-sm visible-xs">
        <li> <%= link_to I18n.t("feed.update"), {:controller => 'feeds', :action => 'actualiza', :id => @feed.id} %></li>
        <li><%= link_to '<i class="fa fa-trash-o fa-fw"></i>'.html_safe, @page, method: :delete, data: { confirm: "#{I18n.t('feed.delete_message')}" } %></li>
    </ol>

    <section class="widget">
            <header>
                <h4>
                    <p id="notice"><%= notice %></p>
                </h4>
            </header>
		<%= render 'shared/news_feed_new' %>
    </section> 

</div>
<div class="row">
   <div class="col-lg-12 text-center">
        <%= will_paginate @feedlists %> 
   </div>
</div>
</div>