<% if user_signed_in? %>
<%#= render 'layouts/navigation_landing_page' %>
<%#= render 'shared/navigation_left_aux' %>

<div id="main-content">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12 text-center">
  <div id="mainWrap">
  <div id="loggit">       

<h1><i class="fa fa-lock"></i> Registrate </h1>
<h3>Por favor <strong>Inserta tus parametros </strong> </h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:id => "logForm", :class => "form-horizontal center"}) do |f| %>
  <%= devise_error_messages! %>

          <div class="form-group">
            <div class="col-xs-12">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
 
            <%= f.text_field :username, :class => "form-control input-lg", id: "color", placeholder: "Username", autocomplete: "off" %>

              </div>
            </div>
          </div>

        <div class="form-group">
            <div class="col-xs-12">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
 
  <%= f.email_field :email, :class => "form-control input-lg", id: "color", placeholder: "Correo", autocomplete: "off" %>

              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
  
    <%= f.password_field :password, :class => "form-control input-lg", id: "color", placeholder: "Contraseña", autocomplete: "off" %>
              </div>
            </div>
          </div>

  <div class="form-group">
            <div class="col-xs-12">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
    <%= f.password_field :password_confirmation, :class => "form-control input-lg", id: "color", placeholder: "Confirma Contraseña", autocomplete: "off" %></div>
            </div>
          </div>
  <div class="form-group formSubmit">
            <div class="col-sm-7">
              <div class="checkbox">
                <label>
                  <input type="checkbox" autocomplete="off"> Estoy de acuerdo con los Terminos y Condiciones
                </label>
              </div>
            </div>

  <div class="col-sm-5 submitWrap">
              
                <%= f.submit "Sign up", :class=> "btn btn-primary btn-md" %></div>
      </div>    
          <div class="form-group formNotice">
            <div class="col-xs-12">
              <p class="hasAccount text-center"> Tiene ya una cuenta? <%= link_to 'Ingresar', new_session_path(resource_name), :class => "link" %></p>
            </div>
          </div>
  <% end %> 
        </div>
       </div> <!-- end mainWrap -->
      </div> <!-- end col-md-12 col-sm-12 text-center -->
    </div> <!-- end row --> 
  </div> <!-- end content-fluid --> 
</div> <!-- end .main-content -->

<% else %>

<style>

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}

</style>

<div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <!-- <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" /> -->
            <div align="center"><%= image_tag "logo.40px.png" %> </div>
            <h3 align="center">Sign up for Kepasa</h3>
            <p align="center">Already have an account? <%= link_to "Sign in", new_user_session_path %> </p>
            <!--<form class="form-signin">-->
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:id => "logForm", :class => "form-signin"}) do |f| %>
                
                <span id="reauth-email" class="reauth-email"></span>
                <%= devise_error_messages! %>


                <!-- <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus> -->

                <%= f.text_field :username, id: "inputEmail", :class => "form-control", placeholder: "Username", required: true, autofocus: true %>

                <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Password" required> -->

                <%= f.email_field :email, id: "inputEmail", :class => "form-control", placeholder: "Email address", autocomplete: "off" %>

                <%= f.password_field :password, id: "inputPassword", :class => "form-control", placeholder: "Password", autocomplete: "off" %>

                <%= f.password_field :password_confirmation, id: "inputPassword", :class => "form-control", placeholder: "Confirm Password", autocomplete: "off" %>
                
                  <div id="remember" class="checkbox">
                      <label>
                          <input type="checkbox" value="remember-me"> I agree terms and conditions
                      </label>
                  </div>

                  <%= f.submit "Sign up", :class=> "btn btn-lg btn-primary btn-block btn-signin" %>

                  <% end %> <br />
                <!-- <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button> -->
            <!-- </form> --> <!-- /form -->

            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->


<% end %>