<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <p id="notice"><%= notice %></p>

      <h1>Recommended Feeds</h1>

    </div>
  </div>

  <div class="row">
      <div class="col-lg-12">

        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Rssurl</th>
              <th>Title</th>
              <th>Category</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @recommended_feeds.each do |recommended_feed| %>
              <tr>
                <td><%= recommended_feed.id %></td>
                <td>
                <%= recommended_feed.rssurl %>
                </td>
                <td><%= recommended_feed.title %></td>
                <td><%= recommended_feed.categories.pluck(:name).join(", ") %></td>
                <td><%#= link_to 'Show', recommended_feed_path(recommended_feed) %></td>
                <td><%#= link_to 'Edit', edit_recommended_feed_path(recommended_feed) %></td>
                <td><%#= link_to 'Destroy', recommended_feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
  </div>

  <br>
</div>

<%#= link_to 'New Recommended Feed', new_recommended_feed_path %>