<div class="content-wrap">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
    <main id="content" class="content" role="main">
      <div class="row">
            <div class="col-md-8 col-md-offset-2">

<h1>Listing feedlists</h1>

<table class="table">
  <tr>
    <th>Rssurl</th>

    <th>Name</th>
    <th>Published at</th>
    <th>Summary</th>
    <th>Image</th>
    <th></th>
  </tr>

<% @feedlists.each do |feedlist| %>
  <tr>
    <td> <% if notizia.image.nil? %>

                                    <a href="#"> <%= image_tag('no-imagen.png') %>
                                    
                                    <% else %>
                                    
                                    <a href="#"> <img src="<%= notizia.image %>" width="70" height="50">
                                    
                                <% end %> <%= feedlist.rssurl %></td>
    <td><%= link_to feedlist.name, feedlist.url %></td>
    <td><%= feedlist.published_at %></td>
    <td><%= feedlist.summary.html_safe %></td>
    <td><%#= image_tag(feedlist.image) %></td>
    <td><%= link_to 'Show', feedlist %></td>
    </tr>
<% end %>
</table>

<br />


<%= link_to 'New Feedlist', new_feedlist_path %>

<br />

</div>
</div>
<div class="row">
<div class="col-lg-12 text-center">
<%= paginate @feedlists %>
</div>
</div>
</main>
</div>
</div>