<%#= session[:omniauth] %>
<div class="container">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
    <main id="content" class="content" role="main">

      <div class="row">
        <div class="col-md-12 col-xs-12">

<p id="notice"><%= notice %></p>

    <div class="panel panel-primary">
      <div class="panel-heading">
          <h3 class="panel-title"> <%= link_to @feedlist.feed.title, user_feed_path(current_user, @feedlist.feed) %> / <%= link_to @feedlist.feed.rssurl, user_feed_path(current_user, @feedlist.feed) %> </h3>
      </div>
        <div class="panel-body">

        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 text-center">

              <% if @img_url.nil? %>

                              <%#= image_tag('no-imagen.png') %>
                                    
              <% else %>
              
              <% if @feedlist.content.nil? %>

                              <img src="<%= @img_url %>" width="300px">
              
              <% end %>

              <% end %>
              
            </div>
            </div>
            <div class="row">
            <div class="col-lg-12 text-center">

              <p>
                <h3> <%#= I18n.t("feedlist.title")%> <%= @feedlist.name %> </h3>
              </p> 

              <p>

                <% if @feedlist.content.nil? %>

                  <%= simple_format(@feedlist.summary) if !@feedlist.summary.nil? %>
                
                <% else %>
                  <div align="justify">
                  <%= sanitize @feedlist.content.gsub("<img ", "<img align='center'")  %>
                  </div>
                  <font size="3"><%#= simple_format(@feedlist.content) %> </font>

                <% end %>
              
              </p>

            </div>
            </div>
            </div>


          <p class="feedlist">
            <%= I18n.t("feedlist.click") %> <%= link_to I18n.t("feedlist.here"), @feedlist.url, target: "_blank" %> <%= I18n.t("feedlist.read_original_article") %>
            
             <%# unless user_signed_in? %>
              <!-- o guarda el articulo en <u> <%#= link_to 'Kepasa.co', root_url %> </u> via <%#= link_to "#{image_tag('btn-facebook-connect-rid.png')}".html_safe, user_omniauth_authorize_path(:facebook, :id => @feedlist.id) %> <br />
            <%# end %> <br /> -->
            </p> 
  
          <p class="feedlist">

            <% if @feedlist.published_at.nil? %>
                                 <%= time_ago_in_words(@feedlist.created_at) %>
                           <% else %>
                                  <%= time_ago_in_words(@feedlist.published_at) %>
  
            <% end %>
  
          </p>

          <%= render 'shared/info_share', feedlist: @feedlist %>
        </div>

        
        <%#= link_to 'Edit', edit_feedlist_path(@feedlist) %>
        <%#= link_to 'Back', feedlists_path %>
      
      </div> <!-- ./panel close -->


     </div>
    </div>

  </main>
</div>
