<div class="container">
<div class="row">
	<div class="col-lg-12">
	
	<ol class="breadcrumb">
            <li>Tu eres aqui</li>
            <li class="active">All My News</li>
            <li>
                
                    TAG: <%= params[:tag] %>
               
            </li>
    </ol>

    <% @feedlists.each do |notizia| %>
	 <section class="search-result-item">
	    
    <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-2">
                                
                                <% if notizia.image.nil? %>

                                    <a href="#"> <%= image_tag('no-imagen.png') %>
                                    
                                    <% else %>
                                    
                                    <a href="#"> <img src="<%= notizia.image %>" width="70" height="50">
                                    
                                <% end %>
                                
                                </div>
                                <div class="col-sm-8">
                                    <h4 class="search-result-item-heading">
        								<%= link_to notizia.name, feedlist_path(notizia.id) %>
        						 	</h4>
        						 	<p class="info">
                                        <% if notizia.published_at.nil? %>
                                        <%= time_ago_in_words(notizia.created_at) %>
                                        <% else %>

                                        <%= time_ago_in_words(notizia.published_at) %>

                                        <%= link_to '<i class="fa fa-bookmark"></i>'.html_safe, new_user_bookmark_path([current_user, @bookmark], :url => notizia.url, :title => notizia.name) %> 
                                        <% end %>
                                    </p>
                                    <p class="description">
                                        <%= notizia.summary.nil? ? "NO summary" : notizia.summary.html_safe %> 
                                    </p>
                                    <p>

                                    Feed: <%= link_to notizia.feed.title, user_feed_path(current_user, notizia.feed) %>
                                    </p>
                                    <p align="left">
                                    Etiquetas: <%=  notizia.feed.tags.pluck(:name).join(", ") %>
                                    </p>
                                 </div>
        						<div class="col-sm-2 text-align-center">
                                    <%#= link_to 'Visiona Más', feedlists_path(notizia), :class => "btn btn-primary btn-info btn-sm" %> <br />
                                    <%= link_to 'Articulo Origen >>', notizia.url, :class => "btn btn-primary btn-info btn-sm", target: "_blank" %>
        						</div>
                            </div>
     </div>
    
    </section>
                    <% end %>
       </div>
    </div>



 <div class="row">
   <div class="col-lg-12 text-center">
   <%= paginate @feedlists %> 
   </div>
</div>
</div>