<div class="container">
<div class="row">
	<div class="col-lg-12">
	
	<ol class="breadcrumb">
            <li>Tu eres aqui</li>
            <li class="active">All My News</li>
            <li>
                
                    TAG: <%= params[:tag] %>
               
            </li>
    </ol>

    <div id="feedlists">
    <% @feedlists.each do |feedlist| %>
	 <section class="search-result-item">
	    
    <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-2">
                                
                                <% if feedlist.image.nil? %>

                                    <a href="#"> <%= image_tag('no-imagen.png') %>
                                    
                                    <% else %>
                                    
                                    <a href="#"> <img src="<%= feedlist.image %>" width="70" height="50">
                                    
                                <% end %>
                                
                                </div>
                                <div class="col-sm-8">
                                    <h4 class="search-result-item-heading">
        								<%= link_to feedlist.name, feedlist_path(feedlist.id) %>
        						 	</h4>
        						 	<p class="info">
                                        <% if feedlist.published_at.nil? %>
                                        <%= time_ago_in_words(feedlist.created_at) %>
                                        <% else %>

                                        <%= time_ago_in_words(feedlist.published_at) %>

                                        <%= link_to '<i class="fa fa-bookmark"></i>'.html_safe, new_user_bookmark_path([current_user, @bookmark], :url => feedlist.url, :title => feedlist.name) %> 
                                        <% end %>
                                    </p>
                                    <p class="description">
                                        <%= feedlist.summary.nil? ? "NO summary" : feedlist.summary.html_safe %> 
                                    </p>
                                    <p>

                                    Feed: <%= link_to feedlist.feed.title, user_feed_path(current_user, feedlist.feed) %>
                                    </p>
                                    
                                    <%= render 'shared/info_share', feedlist: feedlist %>
                                 </div>
        						<div class="col-sm-2 text-align-center">
                                    <%= render 'shared/info_click', feedlist: feedlist %>
        						</div>
                            </div>
     </div>
    
    </section>
                    <% end %>
        </div> <!-- end feedlists id -->
       </div>
    </div>



 <div class="row">
   <div class="col-lg-12 text-center">
   <%= will_paginate @feedlists %> 
   </div>
</div>
</div>