<table class="table">

        <tr>
          <th> <div align="center"><%= I18n.t("home.feed_titles") %></div></th>
          <th> <div align="center"> <%= I18n.t("home.tags") %> </div></th>
          <th> <div align="center"> <%= I18n.t("home.updated") %> </div></th>
        </tr>
      
      <% @last_feeds_paginate.each do |feed| %>
        
        <tr>
          <td> <%= link_to feed.title, user_feed_path(feed.user, feed) %> </td>
          <td>

            <% a = feed.tags.count %>
            <% b = 0 %>
          
          <% feed.tags.each do |tag| %>
          
              <% b = b+1 %>
					
                <%= link_to tag.name, tagged_feed_url(:tag => tag.name) %> 
          
              <% if b != a  %>, <% end %>

			     <% end %>
		      </td>
          <td> <%= time_ago_in_words(feed.updated_at) %> </td>
         </tr>
  	<% end %>
  </table>
