<ul id="Generico Periodico">
<% @newspapers.each do |newspaper| %>
<% news = newspaper.news %>
<% news.each do |t| %>

<%= content_tag_for :li, t do %>
    <div class="row-fluid">

		<div class="span6">
        <img src="<%= news.image %>" class="img-rounded"> <br /><br />
		<p><%= time_ago_in_words(t.published_at.to_formatted_s(:long)) %> </p>
		</div>

		<div class="span6">
		<%= link_to h(t.name), t.url %> <br />
		
		<%= link_to '<i class="icon-bookmark"></i> bookmark'.html_safe, new_user_bookmark_path(current_user, @bookmark) %> 
		
		</div>

	</div>
	<% end %>
	
  <% end %>
<% end %>
</ul>