<span class="visible-desktop">
<div class="gridster">
    <ul>
	 <% @newspapers.each do |giornale| %>
        <li class="blue" data-row="1" data-col="2" data-sizex="2" data-sizey="2"><h5><%= giornale.title %></h5>
			<% giornale.news.limit(2).each do |notizia| %>
		 <p>
		 <div class="row-fluid">

			<div class="span6">
            <img src="<%= notizia.image %>"><br />
            <%#= time_ago_in_words(notizia.published_at.to_datetime.to_formatted_s(:long)) %>
			<%= helper.time_ago_in_words(notizia.published_at) %>
			</div>

			<div class="span6">
		    <%= link_to notizia.name, notizia.url %> <br />

			<%= link_to '<i class="icon-bookmark"></i> bookmark'.html_safe, new_user_bookmark_path(current_user, @bookmark) %> 

			</div>
     
	  	</div>
        </p> 
           <% end %>
		</li>
	
	  <% end %>
        
    </ul>
</div>
</span>