<span class='hidden-desktop'>
<div class="accordion" id="accordion2" data-update-url="<%= sort_newspapers_url %>">
<% @newspapers.each do |giornale| %>
  <div class="accordion-group" id="newspaper_<%= giornale.id %>">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#<%= giornale.id %>">
        <%= giornale.title %>
      </a>
    </div>
    <div id="<%= giornale.id %>" class="accordion-body collapse">
      <div class="accordion-inner">
        Contenuto X!!!!
      </div>
    </div>
  </div>
<% end %>
</div>
</span>
