<%= form_for(@newspaper) do |f| %>
  <% if @newspaper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newspaper.errors.count, "error") %> prohibited this newspaper from being saved:</h2>

      <ul>
      <% @newspaper.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :rssurl %><br />
    <%= f.text_field :rssurl %>
  </div>
  <div class="actions">
    <%= f.submit 'Insert Noticias', :class => 'btn-primary' %>
  </div>
<% end %>
