<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <%#= render 'layouts/monologue/application/head' %>
  <%= render 'layouts/monologue/head' %>
  
</head>
<body>
    <div class="container">
	
	<%#= render 'layouts/monologue/header' unless @nav %>
    <%= render 'layouts/header' unless @nav %>
    <%#= render 'layouts/navigation' unless @nav %>

 	<div class="row">
    <div class="span10">
      <% flash.each do |name, msg| %>
        <div class="flash-notice">
          <%= msg %>
        </div>
      <% end %>
	 <%= yield %>
     </div>
	 <div class="span2">
 		<%= render 'layouts/monologue/application/sidebar' %>  
     </div>
	</div>
   </div>
   <%= render "layouts/monologue/disqus" %>
  <% if content_for?(:footer) %>
    <footer>
      <%= yield :footer %>
    </footer>
  <% end %>
  <%= render 'layouts/monologue/application/disqus' %>
  <%= render 'layouts/monologue/application/gauge_analytics' %>
</body>
</html>