<style>
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  height: 140px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style>

<div class="container">


  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">

      <p id="notice"><%= notice %></p>

      <%= render 'shared/tab_feed' %>

      <h1>Categories</h1>

      LAnguage <%= @language %> <br />

      <% @categories.each do |category| %>

      <div class="gallery">
        <%= image_tag "#{category.category_logo.url}" %> 
      <div class="desc"><%= link_to category.name, category_path(category) %></div>
      </div>
      
      <% end %>


      <br /><br /><br />

      

      <br>

      <%#= link_to 'New Category', new_category_path %>

    </div>
  </div>

</div> <br />