<div class="container">
	<div class="row">
		<div class="col-lg-12">

<p id="notice"><%= notice %></p>

<%= render 'shared/tab_feed' %>

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 text-center">

<p>
<h2><%= @category.name %></h2>
</p>

<p>
  <%= check_thumbnail(@category) %>
</p>

<p>
  <strong>Language:</strong>
  <%= @category.language %>
</p>

		</div>
	</div>
</div>


<div class="row">
    <% @recommended_feeds.each do |rf| %>
        <div class="col-lg-4 text-center">
          <div class="panel panel-default">
            <div class="panel-body">
            
                <div class="thumbnail">
                  <% if rf.logo_url(:thumb) %>
				<%= image_tag rf.logo_url(:thumb) %>
			<% else %>
				<%= image_tag 'logo.40px.png' %>
			<% end %>
                  <div class="caption">
                     <h3><%= rf.title %></h3>
                     <p><%= rf.description %></p>
                     <p> </p>
                  </div>
                </div>
              
            </div>
          </div>
        </div>
    <% end %>
  </div>

<% @recommended_feeds.each do |rf| %>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6 text-right">
			<% if rf.logo_url(:thumb) %>
				<p><%= image_tag rf.logo_url(:thumb) %> </p>
			<% else %>
				<p><%= image_tag 'logo.40px.png' %></p>
			<% end %>
			<%= link_to "<i class='fa fa-plus'></i> Add Feed".html_safe, "#" %>
		</div>
		<div class="col-lg-6">
			<p><strong>feed address:</strong> <%= rf.rssurl %></p>
			<p><strong>title:</strong> <%= rf.title %></p>
			<p><strong>description:</strong> <%= rf.description %> </p> 
		</div>
	</div>
</div>
<% end %>


<%#= link_to 'Edit', edit_category_path(@category) %> |
<%#= link_to 'Back', categories_path %>

</div>
</div>
</div>