<div class="container">
	<div class="row">
		<div class="col-lg-12">

<p id="notice"><%= notice %></p>

<%= render 'shared/tab_feed' %>

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 text-center">

<p>
<h2><%= @category.name %></h2>
</p>

<p>
  <%= check_thumbnail(@category) %>
</p>

<p>
  <strong>Language:</strong>
  <%= @category.language %>
</p>

		</div>
	</div>
</div>

<% @recommended_feeds.each do |rf| %>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6 text-right">
			<% if rf.logo_url(:thumb) %>
				<p><%= image_tag rf.logo_url(:thumb) %> </p>
			<% else %>
				<p>No Logo</p>
			<% end %>
            
            <!-- params.require(:feed).permit(:rssurl, :title, :tag_list, :user_id) -->

			<%= link_to "<i class='fa fa-plus'></i> Add Feed".html_safe,add_feed_path(feed: {user_id: current_user.id, title: rf.title, tag_list: rf.tag_list.join, rssurl: rf.rssurl}, category: params[:id]), :method => :post %>
			
			<%#= link_to "<i class='fa fa-plus'></i> Add Feed".html_safe, "#" %>

		</div>
		<div class="col-lg-6">
			<p><strong>feed address:</strong> <%= rf.rssurl %></p>
			<p><strong>title:</strong> <%= rf.title %></p>
			<p><strong>description:</strong> <%= rf.description %> </p> 
		</div>
	</div>
</div>
<% end %>


<%#= link_to 'Edit', edit_category_path(@category) %> |
<%#= link_to 'Back', categories_path %>

</div>
</div>
</div>