<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">

<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Language:</strong>
  <%= @category.language %>
</p>

<p>
  
  <%= check_thumbnail(@category) %>

  <!-- <strong>Category logo:</strong> -->
  <%#= image_tag(@user.avatar_url) if @user.avatar? %>
  <%#= image_tag(@category.category_logo.url(:thumb)) if @category.category_logo.url(:thumb).nil? %>

</p>

<% @recommended_feeds.each do |rf| %>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 text-center">
			<% if rf.logo_url(:thumb) %>
				<p><%= image_tag rf.logo_url(:thumb) %> </p>
			<% else %>
				<p>No Logo</p>
			<% end %>
			<p>feed address: <%= rf.rssurl %> </p>
			<p>title: <%= rf.title %> </p>
			<p>description: <%= rf.description %> </p> 
		</div>
	</div>
</div>
<% end %>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>

</div>
</div>
</div>