<!DOCTYPE html>
<html>
<head>
<title>Kepasa.co</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  
<%= stylesheet_link_tag "application", media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag "application", 'data-turbolinks-track': 'reload' %>

	<script type="text/javascript">

					$(document).ready(function() {

						$('.formNotice span').click(function() {
							$("#logForm").toggle();
							$("#regForm").toggle();
						});


					});
	</script>
  
 <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet" type="text/css">	

  <%= csrf_meta_tags %>
  <%#= yield :head %>
  
</head>
<body>

	<% if user_signed_in? %>

		<%= render 'layouts/header' unless @nav %>

	<% end %>
	
	<%= yield %>
	
	<%= render 'layouts/footer' if user_signed_in? %>

<%#= render 'layouts/stats' %>

</body>
</html>