<!DOCTYPE html>
<html>
<head>
  <title>Kepasa.co, agregador de RSS </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <% if user_signed_in? %>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <!-- common libraries. required for every page-->

<!-- 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
-->
  <% else %>

  <%= stylesheet_link_tag "application-front-end", :media => "all" %>
  

  <% end %>
  
 <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet" type="text/css">	
<style>

     .ciao li {

	  list-style: none; 
	}


</style>

  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>


<% if user_signed_in? %>

<body>

<%#= render 'layouts/navigation_logged' unless @nav %>
<%= render 'layouts/header_tb' unless @nav %>
<%#= render 'layouts/header_new' unless @nav %>
<%#= render 'layouts/navigation_left_logged' unless @nav %>
<%#= render 'layouts/navigation_topbar_logged' unless @nav %>

<% else %>

<body data-spy="scroll" data-target=".navbar-custom" class="nopadd">

<div class="preloader">
			<div class="loader-item">
				<%= image_tag 'loading.gif', :alt => 'loader' %>
		</div>
</div>

<!-- pattern -->
	<div id="bg_pattern"></div>
	<!-- ./pattern -->
<%= render 'layouts/navigation' unless @nav %>

<% end %>

<%#= render 'layouts/navigation_with_search' %>
<%#= render 'layouts/notification' %>

<!-- la linea seguente da inserire solo per il footer iniziale -->
<!-- <div id="wrap"> -->

<%= yield %>

<%= render 'layouts/footer' %>

<% if user_signed_in? %>

<%= javascript_include_tag "application" %>

<% else %>

<%= javascript_include_tag "application-front-end" %>

<script type="text/javascript">
				$(document).ready(function() {

					$('.formNotice span').click(function() {
						$("#logForm").toggle();
						$("#regForm").toggle();
					});


				});
</script>

<% end %>  

<%= render 'layouts/stats' %>
</body>
</html>